---
---

@import "{{ site.theme }}";

/* Changes from Primer theme */

a {
  color: #507bca;
}

.markdown-body h1 {
  border-bottom: 0px
}

/* Additional CSS */

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.box-hero {
  clear: both;
  background: #45baa8;
  color: #ffffff;
  padding: 48px 80px;
  margin-bottom: 32px;
}

.box-hero p {
  font-family: Georgia, serif;
  font-size: 2em;
}

.box-hero img {
  float: right;
  margin-left: 32px;
  width: 100%;
  max-width: 300px;
  height: auto;
}

.wrapper {
  display: flex;
  flex-flow: row wrap;
}

/* All items to be 100% width, via flex-basis */
.wrapper > * {
  flex: 1 100%;
}
