---
---

@import "{{ site.theme }}";

/* Changes to default theme styles */

.my-5 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.markdown-body {
  font-family: 'Roboto Serif', Helvetica, Arial, Verdana, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1em;
  color: #1f2841;
}
