<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;800&family=Roboto+Serif:wght@400;700&display=swap" rel="stylesheet">
  </head>
  <body>
    <header>
      <nav>
        <div class="top-nav">
          <div class="my-nav">
            <div class="my-logo">
              <p><img src="/assets/img/icon-story.png">Michael Romano</p>
            </div>
            <input id="menu-toggle" type="checkbox" />
            <label class='menu-button-container' for="menu-toggle">
              <div class='menu-button'></div>
            </label>
            <ul class="menu">
              <li {% if page.url == "/" %}class="my-nav-current"{% endif %}><a href="#">Home</a></li>
              <li {% if page.url == "/research/" %}class="my-nav-current"{% endif %}><a href="#">Research</a></li>
              <li {% if page.url == "/teaching/" %}class="my-nav-current"{% endif %}><a href="#">Teaching</a></li>
              <li {% if page.url == "/publications/" %}class="my-nav-current"{% endif %}><a href="#">Publications</a></li>
              <li {% if page.url == "/contact/" %}class="my-nav-current"{% endif %}><a href="#">Contact</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    
    <div class="container-lg px-3 my-5 markdown-body">
      <div class="my-content">
      {{ content }}
      </div>
      
      <footer>
        <div class="my-footer">
          <h4>© 2022 Michael Romano</h4>
        </div>
      </footer>
    </div>
    {% if site.google_analytics %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ site.google_analytics }}', 'auto');
      ga('send', 'pageview');
    </script>
    {% endif %}
  </body>
</html>
